<div class="flex-container">
<header>
  <h1>Jogos</h1>
</header>

<nav class="nav">
<ul>
  <li *ngFor="let team of team$">
    {{ team.name }}
  </li>
  <li *ngFor="let group of schedule$.groups">
    <a>Grupo {{ group.name }}</a>

    <div>
      <li *ngFor="let match of group.matches">
        <div>
          <img src="{{getTeam(match.home_team).flag}}" alt="" height=20 width=20>
          <input type="tel" style="width: 20px;" min="0" step="1"/>
          <b>X</b>
          <input type="tel" style="width: 20px;" min="0" step="1"/>
          <img src="{{getTeam(match.away_team).flag}}" alt="" height=20 width=20>
        </div>
      </li>
    </div>


    <!-- <table>
      <tr>
        <th><a routerLink="/team/{{schedule.name}}}"><img src="assets/flags/brazil.svg" alt="" height=20 width=20></a></th>
        <th>{{ schedule.id }}</th>
        <th>X</th>
        <th>{{ schedule.id }}</th>
        <th><a routerLink="/team/{{schedule.name}}}"><img src="assets/flags/germany.svg" alt="" height=20 width=20></a></th>
      </tr>
    </table> -->

  </li>
</ul>
</nav>
</div>
